In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
weather_data = pd.read_csv('Weather Data.csv')

weather_data = weather_data[(weather_data['Year'] >= 2014)]

In [4]:
weather_data['date_string'] = weather_data['Year'].astype(str) + '-' + \
                    weather_data['Month'].astype(str).str.zfill(2) + '-' + \
                    weather_data['Day'].astype(str).str.zfill(2)

weather_data['datetime_column'] = pd.to_datetime(weather_data['date_string'], format='%Y-%m-%d')
weather_data = weather_data.set_index(pd.to_datetime(weather_data['datetime_column']))

In [5]:
filtered_weather_data_skiseason = weather_data[(weather_data['Month'] >= 6) & (weather_data['Month'] <= 9)]
mask = (filtered_weather_data_skiseason["Month"] == 9) & (filtered_weather_data_skiseason["Day"] > 15)
ski_season_weather = filtered_weather_data_skiseason.drop(filtered_weather_data_skiseason[mask].index)
mask2 = (ski_season_weather["Month"] == 6) & (ski_season_weather["Day"] < 9)
ski_season_weather_final = ski_season_weather.drop(ski_season_weather[mask2].index)
ski_season_weather_final = ski_season_weather_final.drop(columns=['date_string', 'Month', 'Day', 'datetime_column'])

In [6]:
fill_values = {
    2014: ((107.0+15.0+70.0+26.0+61.0+104.0)/6) * 10,
    2015: ((31.0+9.0+56.0+33.0+29.0+56.0)/6) * 10,
    2016: ((32.0+78.0+69.0+4.0+39.0+6.0)/6) * 10,
    2017: ((12.5+23.2+20.1+72.6+101.0+99.8)/6) * 10
}

# Replace NaN in rainfall column depending on year
ski_season_weather_final['Rainfall amount (millimetres)'] = (
    ski_season_weather_final.apply(
        lambda row: fill_values.get(row['Year'], row['Rainfall amount (millimetres)'])
        if pd.isna(row['Rainfall amount (millimetres)']) else row['Rainfall amount (millimetres)'],
        axis=1
    )
)

In [10]:
ski_season_weather_final["Rainfall amount (millimetres)"] = ski_season_weather_final["Rainfall amount (millimetres)"].ffill()
ski_season_weather_final["Maximum temperature (Degree C)"] = ski_season_weather_final["Maximum temperature (Degree C)"].ffill()
ski_season_weather_final["Minimum temperature (Degree C)"] = ski_season_weather_final["Minimum temperature (Degree C)"].ffill()

In [11]:
ski_season_weather_final

,Bureau of Meteorology station number,Year,Maximum temperature (Degree C),Minimum temperature (Degree C),Rainfall amount (millimetres)
datetime_column,,,,,
2014-06-09,71075,2014,3.4,-1.8,6.6
2014-06-10,71075,2014,8.1,-5.0,3.8
2014-06-11,71075,2014,13.4,-5.1,0.0
2014-06-12,71075,2014,8.2,-0.6,0.0
2014-06-13,71075,2014,4.7,2.1,0.0
...,...,...,...,...,...
2025-07-24,72161,2025,3.0,-2.7,4.2
2025-07-25,72161,2025,6.0,-2.4,0.2
2025-07-26,72161,2025,2.7,0.0,10.2
2025-07-27,72161,2025,2.5,1.3,15.6
2025-07-28,72161,2025,2.2,-0.1,54.4

In [12]:
ski_season_weather_final.isnull().sum()

Bureau of Meteorology station number    0
Year                                    0
Maximum temperature (Degree C)          0
Minimum temperature (Degree C)          0
Rainfall amount (millimetres)           0
dtype: int64